<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size:16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
</head>
<body>
  <div class="navbar">
    <table>
    <tr>
     <td> <a href="home">Home</a></td>
    <td><div class="dropdown">
      <button class="dropbtn">Empolyees
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href=empadd>Add</a>
        <a href=empupdt>Update</a>
        <a href=empdel>Delete</a>
        <a href=emplistall>List All</a>
        <a href=emplistbyid>List By ID</a>
        <a href=empsearch>Search</a>
        <a href=offlistall>Office List All</a>
      </div>
    </div> </td>
    <td><div class="dropdown">
      <button class="dropbtn">Customers
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href=custadd>Add</a>
        <a href=custupdt>Update</a>
        <a href=custdel>Delete</a>
        <a href=custlistall>List All</a>
        <a href=custlistbyid>List By ID</a>
        <a href=custsearch>Search</a>
      </div>
    </div> </td>
    <td><div class="dropdown">
      <button class="dropbtn">Product
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href=prodadd>Add</a>
        <a href=produpdt>Update</a>
        <a href=proddel>Delete</a>
        <a href=prodlistall>List All</a>
        <a href=prodlistbyid>List By ID</a>
        <a href=prodsearch>Search</a>
      </div>
    </div> </td>
    <td><a href="#about">About</a></td>
    <td><a href="#contact">Contact</a></td>
    <td><a href="reguser">Register</a></td>
    <td><div class="login-container">
      <form name="login" action="/login" method="POST">
        <input type="text" placeholder="username" name="username" size="20">
        <input type="password" placeholder="Password" name="password" size="20">
        <button type="submit">Login</button>
      </form>
    </div></td>
   </tr>
   </table>
  </div>
</body>
