<div class="navbar">
    <table>
    <tr>
     <td> <a href="home">Home</a></td>
    <td><div class="dropdown">
      <button class="dropbtn">Employees
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href=empadd>Add</a>
        <a href=empupdt>Update</a>
        <a href=empdel>Delete</a>
        <a href=emplistall>List All</a>
        <a href=emplistbyid>List By ID</a>
        <a href=empsearch>Search</a>
        <a href=offlistall>Office List All</a>
      </div>
    </div> </td>
    <td><div class="dropdown">
      <button class="dropbtn">Customers
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href=custadd>Add</a>
        <a href=custupdt>Update</a>
        <a href=custdel>Delete</a>
        <a href=custlistall>List All</a>
        <a href=custlistbyid>List By ID</a>
        <a href=custsearch>Search</a>
      </div>
    </div> </td>
    <td><div class="dropdown">
      <button class="dropbtn">Products
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href=prodadd>Add</a>
        <a href=produpdt>Update</a>
        <a href=proddel>Delete</a>
        <a href=prodlistall>List All</a>
        <a href=prodlistbyid>List By ID</a>
        <a href=prodsearch>Search</a>
      </div>
    </div> </td>
    <td><a href="#about">About</a></td>
    <td><a href="#contact">Contact</a></td>
    <td><a href="reguser">Register</a></td>
    <td><div class="login-container">
      <form name="login" action="/login" method="POST">
        <input type="text" placeholder="Username" name="username" size="20">
        <input type="password" placeholder="Password" name="password" size="20">
        <button type="submit">Login</button>
      </form>
    </div></td>
   </tr>
   </table>
  </div>