<!DOCTYPE html>
<html>
  <head>
    <title>register</title>
     <link rel="stylesheet" href="https://stackpath.boo tstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      
  </head>
  
  <body>
   <%- include('../Partials/topNav.ejs') %>
   
    
    <div class="table-data">
      Register Page <%= resultstatus %>
    <form name="registration" action="/reguser" method="POST">
      
      <table>
       <tr>
          <td> <label for="username">Username</label></td>
          <td>  <input type="text" name="username" required /></td>
       </tr>
       <tr>
          <td>  <label for="password">Password</label></td>
          <td>  <input type="password" name="password" required /></td>
       </tr>
       <tr>
        <td>  <label for="firstname">First name</label></td>
        <td>  <input type="text" name="firstname" required /></td>
       </tr>
       <tr>
        <td>  <label for="lastname">Last name</label></td>
        <td>  <input type="text" name="lastname" required /></td>
       </tr>
       <tr>
         <td>  <label for="email">email</label></td>
         <td>  <input type="text" name="email" required /></td>
        </tr>
       <tr>
        <td>  <label for="role">Role(Employee,Customer)</label></td>
        <td>  <input type="text" name="role" required /></td>
       </tr>
       <tr>
          <td>  <input type="submit" value="register" /></td>
       </tr>
    </table>
    </form>
    <a href="/login">Already registered? Login</a>
   </div>
  </body>
</html>